.pebble-face-wrapper{position:relative;margin:0 auto;width:231px;height:394px}
.pebble-face-wrapper .pebble-face{width:231px;height:394px;position:absolute}
.pebble-face-black{background-image:url("/img/pebble_watch-web-body.png");background-position:0 -394px;background-size:cover}
.pebble-screen{position:absolute;top:105px;left:44px;width:144px;height:168px;background-color:#ccc;color:#222;overflow:hidden}
.pebble-screen-overlay{position:absolute;top:105px;left:44px;width:144px;height:168px;background-image:url("/img/Blue-Shadow-Effects.png");background-repeat:no-repeat}
.pebble-text{margin:20px 6px 0;overflow:hidden;height:100%}
.pebble-text-header{font-size:20px;width:100%;font-weight:bold;text-overflow:ellipsis;overflow:hidden;height:20px;white-space:nowrap}
.pebble-text-body{font-size:16px;line-height:20px;margin-top:4px;overflow:hidden}
#compare{position:absolute;width:300px;left:300px;top:30px}
form fieldset{border:none;padding:0;margin:0}
